@* buton de mers in pagina anterioara *@
<div><button onclick="history.back()">
    <img src="https://img.icons8.com/ios-filled/50/000000/left.png" alt="left" width="25" height="25"/</button>
</div>

<div style="display: flex; gap: 2rem; justify-content: center;">
    <div style="text-align: center;">
            <h3>@ViewBag.Outfit.Name</h3> @* nume outfit *@
            <p>
                <a href="@Url.Action("Index", "User", new { id = ViewBag.Outfit.User.Id })">
                    @ViewBag.Outfit.User.UserName
                </a>
            </p>@* nume user cu redirect pe pagina de profil *@
            <img src="@ViewBag.Outfit.Image" alt="@ViewBag.Outfit.Name" width="200" style="border-radius: 12px;" /> @*imaginea outfitului*@


    </div>
</div>